// imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// colors
$primary: #30A0EE;
$error: #ef5777;
$success: #1abc9c;
$light: #F5F8FA;
$medium: #657786;
$dark: #34495E;
$white: #fff;

.bg-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($dark, 0.4);
  z-index: 999;
}

// resets
body {
	margin: 0;
	color: $dark;
	background: #E6ECF0;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	transition: 0.15s;

	&:focus {
		outline: none;
	}
}

p {
	line-height: 1.5;
}

a {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: $primary;
	margin: 0;
	cursor: pointer;

	&:hover {
		color: lighten($primary, 5%);
	}
}

// globals
section {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;

	@media screen and (max-width: 742px) {
		display: block;
	}
}

.col1,
.col2 {
	flex-grow: 1;
	flex-basis: 0;
	padding: 1rem;

	@media screen and (max-width: 742px) {

	}
}

.button {
	background: $primary;
	border: 0;
	outline: 0;
	color: $white;
	padding: 0.8rem 1rem;
	margin: 1rem 0;
	min-width: 150px;
	font-size: 16px;
	border-radius: 3px;
	cursor: pointer;

	&:hover {
		background: lighten($primary, 5%);
	}
    &:disabled {
        opacity: 0.5;

        &:hover {
            background: $primary;
        }
    }
}

form {
    textarea {
        resize: none;
        border: 1px solid #e6ecf0;
        outline: 0;
        height: 100px;
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }
}
// transitions
.fade-enter-active {
	transition: opacity 0.5s;
}
.fade-leave-active {
	transition: opacity 0s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

