<template>
  <div id="dashboard">
    <section>
      <div class="col1">
        <create-post></create-post>
      </div>
      <div class="col2">
        <hidden-posts></hidden-posts>
        <div v-if="posts.length">
          <div v-for="post in posts" :key="post.id">
            <post-summary
              :post="post"
              v-on:openCommentModal="openCommentModal"
              v-on:openPostDetailsModal="openPostDetailsModal"
            ></post-summary>
          </div>
        </div>
        <div v-else>
          <p class="no-results">There are currently no posts</p>
        </div>
      </div>
    </section>

    <!-- comment modal -->
    <div v-if="showCommentModal" class="bg-modal">
      <add-comment-modal :post="selectedPost" v-on:close="closeCommentModal()"></add-comment-modal>
    </div>

    <!-- post modal -->
    <div v-if="showDetailsModal" class="bg-modal">
      <post-comments-modal :post="selectedPost" v-on:close="closePostDetailsModal()"></post-comments-modal>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

import addCommentModal from "@/components/AddCommentModal";
import postCommentsModal from "@/components/PostCommentsModal";
import createPost from "@/components/CreatePost";
import postSummary from "@/components/PostSummary";
import hiddenPosts from "@/components/HiddenPosts";

export default {
  components: {
    addCommentModal,
    postCommentsModal,
    createPost,
    postSummary,
    hiddenPosts
  },
  data() {
    return {
      selectedPost: null,
      showCommentModal: false,
      showDetailsModal: false
    };
  },
  computed: {
    ...mapState(["posts"])
  },
  methods: {
    openCommentModal(post) {
      this.selectedPost = post;
      this.showCommentModal = true;
    },
    openPostDetailsModal(post) {
      this.selectedPost = post;
      this.showDetailsModal = true;
    },
    closeCommentModal() {
      this.selectedPost = null;
      this.showCommentModal = false;
    },
    closePostDetailsModal(post) {
      this.selectedPost = null;
      this.showDetailsModal = false;
    }
  }
};
</script>

<style lang="scss">
@import "@/styles/app.scss";

section {
  padding: 2rem 0;
}
.col1 {
  flex: 0 0 30%;
  @media screen and (max-width: 1000px) {
    flex: 0 0 40%;
  }
}
.no-results {
  border: 1px solid #e6ecf0;
  background: $white;
  text-align: center;
  padding: 100px 1rem;
}
</style>