<template>
<transition name="fade">
  <div>
    <div class="c-container">
      <a @click="closeCommentModal">X</a>
      <p>Add a comment</p>
      <form @submit.prevent>
        <textarea v-model.trim="content"></textarea>
        <button @click="addComment" :disabled="content == ''" class="button">Add comment</button>
      </form>
    </div>
  </div>
  </transition>
</template>

<script>
import { mapState } from "vuex";

export default {
  props: {
    post: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      content: ""
    };
  },
  computed: {
    ...mapState(["user"])
  },
  methods: {
    closeCommentModal() {
      this.$emit("close");
    },
    async addComment() {
      const commentToCreate = {
        postId: this.post.id,
        userId: this.user.uid,
        userName: this.user.name,
        content: this.content,
        createdOn: new Date()
      };
      await this.$store.dispatch("createComment", {
        comment: commentToCreate,
        post: this.post
      });
      this.closeCommentModal();
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/styles/app.scss";

.c-container {
  position: relative;
  top: 30vh;
  margin: auto;
  max-width: 500px;
  padding: 2rem;
  border-radius: 3px;
  background: $white;
  box-shadow: 0 0 20px 0 rgba($dark, 0.5);

  a {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px;
  }
}
</style>