<template>
  <div v-if="user && user.uid" class="profile">
    <h3>{{ user.name }}</h3>
    <p>{{ user.email }}</p>
    <div class="create-post">
      <p>create a post</p>
      <form @submit.prevent>
        <textarea v-model="content"></textarea>
        <button @click="createPost" :disabled="postIsNotValid()" class="button">post</button>
      </form>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      content: ""
    };
  },
  computed: {
    ...mapState(["user"])
  },
  methods: {
    postIsNotValid() {
      return this.content.trim().length === 0;
    },
    async createPost() {
      const postToCreate = {
        userId: this.user.uid,
        userName: this.user.name,
        createdOn: new Date(),
        content: this.content.trim(),
        commentsCounter: 0,
        likesCounter: 0
      };
      await this.$store.dispatch("createPost", postToCreate);
      this.content = "";
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/styles/app.scss";

.profile {
  background: $white;
  padding: 2rem;

  p {
    color: $medium;
    margin-bottom: 1rem;
  }
}
.create-post {
  p {
    margin-bottom: 0.5rem;
  }
  textarea {
    height: 200px;
    margin: 0;
  }
  .button {
    margin-top: 1rem;
    width: 100%;
    z-index: 5;
    border-radius: 0 0 3px 3px;
  }
}
</style>