<template>
  <transition name="fade">
    <div v-if="hiddenPosts && hiddenPosts.length" @click="showHiddenPosts" class="hidden-posts">
      <p>
        Click to show
        <span class="new-posts">{{ hiddenPosts.length }}</span> new
        <span v-if="hiddenPosts.length > 1">posts</span>
        <span v-else>post</span>
      </p>
    </div>
  </transition>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState(["hiddenPosts"])
  },
  methods: {
    showHiddenPosts() {
      this.$store.dispatch("showHiddenPosts");
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/styles/app.scss";

.hidden-posts {
  text-align: center;
  border: 1px solid #e6ecf0;
  font-size: 14px;
  border-bottom: 0;
  background: $white;

  &:hover {
    background: #f5f8fa;
    cursor: pointer;
  }

  .new-posts {
    color: $primary;
  }
  p {
    padding: 15px;
    margin: 0 auto;
    color: darken($light, 25%);
  }
}
</style>