<template>
  <div class="post">
    <h3>{{ post.userName }}</h3>
    <span>{{ post.createdOn | formatDate }}</span>
    <p>{{ post.content | trimLength }}</p>
    <ul>
      <li @click="openCommentModal()">
        <span>
          <font-awesome-icon icon="comments"></font-awesome-icon>
          {{ post.commentsCounter }}
        </span>
      </li>
      <li @click="likePost()">
        <span>
          <font-awesome-icon icon="thumbs-up"></font-awesome-icon>
          {{ post.likesCounter }}
        </span>
      </li>
      <li @click="openPostDetailsModal()">
        <span>view full post</span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      required: true
    }
  },
  methods: {
    openCommentModal() {
      this.$emit("openCommentModal", this.post);
    },
    likePost() {
      this.$store.dispatch("likePost", this.post);
    },
    openPostDetailsModal() {
      this.$emit("openPostDetailsModal", this.post);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/styles/app.scss";

.post {
  border: 1px solid #e6ecf0;
  border-bottom: 0;
  font-size: 14px;
  padding: 1.5rem;
  background: $white;

  &:hover {
    background: #f5f8fa;
  }

  &:last-of-type {
    border-bottom: 1px solid $light;
  }

  h5 {
    margin: 0 0 0.5rem;
  }
  span {
    display: block;
    font-style: italic;
    font-size: 12px;
    margin-bottom: 0.5rem;
    color: darken($light, 25%);
  }
  p {
    margin: 0;
  }
  ul {
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 1rem;
      cursor: pointer;

      span {
        font-size: 16px;
      }
    }
  }
}
</style>