<template>
  <transition name="fade">
    <div>
      <div class="p-container">
        <a @click="closePostDetailsModal" class="close">X</a>
        <div class="post">
          <h5>{{ post.userName }}</h5>
          <span>{{ post.createdOn | formatDate }}</span>
          <p>{{ post.content }}</p>
          <ul>
            <li>
              <a>comments {{ post.commentsCounter }}</a>
            </li>
            <li>
              <a>likes {{ post.likesCounter }}</a>
            </li>
          </ul>
        </div>
        <div v-show="post.commentsCounter > 0" class="comments">
          <div v-for="comment in postComments" :key="comment.id" class="comment">
            <p>{{ comment.userName }}</p>
            <span>{{ comment.createdOn | formatDate }}</span>
            <p>{{ comment.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import * as fb from "@/firebase.config.js";

export default {
  props: {
    post: {
      type: Object,
      required: true
    }
  },
  asyncComputed: {
    postComments: async function() {
      const res = await fb.db
        .collection("comments")
        .where("postId", "==", this.post.id)
        .get();

      const comments = res.docs.map(com => com.data());
      return comments;
    }
  },
  methods: {
    closePostDetailsModal() {
      this.$emit("close");
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/styles/app.scss";

.p-container {
  position: fixed;
  max-width: 600px;
  top: 2vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 3px;
  background: $white;
  box-shadow: 0 0 20px 0 rgba($dark, 0.5);
  overflow: auto;

  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px;
  }

  .post {
    border: 0;
    border-bottom: 1px solid #e6ecf0;

    &:hover {
      background: $white;
    }
  }

  .comment {
    font-size: 14px;
    padding: 1.5rem;
    border-top: 1px solid #e6ecf0;

    &:first-of-type {
      border-top: 0;
    }

    h5 {
      margin: 0 0 0.5rem;
    }
    span {
      display: block;
      font-style: italic;
      font-size: 12px;
      margin-bottom: 0.5rem;
      color: darken($light, 20%);
    }
    p {
      margin: 0;
    }
  }
}
</style>